<form action="/auth/login" method="POST">
    <label>
        Логин:
        <input type="email" required>                  
    </label>
    <label>
        Пароль:
        <input type="password" required>
    </label>
    <button type="submit">Вход</button>
</form>