
<div class="wrap">
    <div class="content addpost">
        <h3>Add category</h3>
        <form action="/addcategory" method="POST" class="forma">
        
            <div class="formAddPost">
                <label for="title">Название категории</label>
                <input type="text" name="title" id="title" required>
                
            </div>
            
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>