
<div class="wrap">
    <div class="content addpost">
        <h3>Post</h3>
        <div class="posts">
            <div class="post">
                <div class="post__title">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="post__content">
                    <img src="http://placehold.jp/180x180.png" alt="">
                    <p>{{post.messagePrev}}</p>
                </div>
                <div class="post__footer">
                    <div class="date">
                        <span>Date: 18/10</span>
                        <span>Time: 16:47</span>
                    </div>
                    
                    <a href="/{{id}}" class="link">Назад</a>
                </div>
            </div> 
            
        </div>
    </div>
</div>